<div class="index-container">
  <div class="header-outer">
    <header class="index-header">
      <div class="logo">
        <%= link_to image_tag("5keeps.png", alt: "logo"), root_path %>
      </div>
      <div class="index-links">
        <div class="language">
          <span><%= t "static_pages.home.language" %></span>
          <span class="material-icons" id="dropdown-icon">arrow_drop_down</span>
          <ul class="dropdown-list">
            <li><%= link_to "English", root_path(locale: :en) %></li>
            <li><%= link_to "日本語", root_path(locale: :ja) %></li>
          </ul>
        </div>
        <div class="login">
          <span class="material-icons">person_outline</span>
          <%= link_to t("dictionary.common.login"), login_path %>
        </div>
        <%= link_to t("dictionary.common.signup"), signup_path, class: "button" %>
      </div>
    </header>
  </div>

  <main class="index-main">
    <section class="index-content top">
      <h1>Fast access to<br>
              what you need Now
      </h1>
      <p class="sub-title">The world's simplest bookmark application</p>
      <%= link_to "Free Trial", guest_path, method: :post, class: "button" %>
    </section>
    
    <section class="index-content how-to-use">
      <h2>How to use</h2>
      <p>
          You can create up to 5 groups and 5 links per group.
          By keeping only the information you need now, you can quickly access to it.<br>
          You can access to trial page from「Free Trial」button.
          Once you signup to 5Keeps, the groups and links you created can be saved to your account.
      </p>

      <div class="carousel mobile">
        <div class="slides">
          <ul>
            <li>
              <div class="title">1. Create Groups</div>
              <div class="container">
                <%= image_tag("about_mb_01_en.png", alt: "Screenshot for create groups") %>
              </div>
              <p>You can create up to 5 groups</p>
            </li>
            <li>
              <div class="title">2. Select a group</div>
              <div class="container">
                <%= image_tag("about_mb_02_en.png", alt: "Screenshot for select a group") %>
              </div>
              <p>Select the group you want to create links.</p>
            </li>
            <li>
              <div class="title">3. Create links</div>
              <div class="container">
                <%= image_tag("about_mb_03_en.png", alt: "Screenshot for create links") %>
              </div>
              <p>You can create up to 5 links for each group.</p>
            </li>
          </ul>
        </div>

        <button class="prev">
          <span class="material-icons">arrow_back_ios</span>
        </button>
        <button class="next">
          <span class="material-icons">arrow_forward_ios</span>              
        </button>
        
        <nav>
        </nav>                  
      </div>

      <div class="carousel desktop">
        <div class="slides">
          <ul>
            <li>
              <div class="title">1. Create Groups</div>
              <div class="container">
                <%= image_tag("about_pc_01_en.png", alt: "Screenshot for create groups") %>
              </div>
              <p>You can create up to 5 groups</p>
            </li>

            <li>
              <div class="title">2. Select a group</div>
              <div class="container">
                <%= image_tag("about_pc_02_en.png", alt: "Screenshot for select a group") %>
              </div>
              <p>Select the group you want to create links.</p>
            </li> 

            <li>
              <div class="title">3. Create links</div>
              <div class="container">
                <%= image_tag("about_pc_03_en.png", alt: "Screenshot for create links") %>
              </div>
              <p>You can create up to 5 links for each group.</p>
            </li>              
          </ul>
        </div>

        <button class="prev">
          <span class="material-icons">arrow_back_ios</span>
        </button>
        <button class="next">
          <span class="material-icons">arrow_forward_ios</span>              
        </button>

        <nav>
        </nav>             
      </div>
    </section>
  </main>
  <%= render 'static_pages/footer' %>
</div>
<%= javascript_pack_tag 'custom/home_not_logged_in' %>
